body {

    background-image: linear-gradient(#0d1448,black);

}
#logo{
    position: absolute;
    margin-top: -2px;
}

.contenedor{
    width: 90%;
    text-align: center;
    margin: auto;
    background-image: linear-gradient(#fb1a48, #891b45) ;
    color: #ffffff;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.8);
}
.titulos{
    display: block;
    border-width: 50px;
    border-color: white;
    border-radius: 5px;
    opacity: 90%;
}
#titulo{
    text-align: right;
    font-family: "HP Simplified Light",sans-serif;
    font-style: unset;:
}
#pestanas {
    float: top;
    font-size: 16px;
    font-weight: bold;
    font-family: "HP Simplified Light",sans-serif;
}
#pestanas a:link {text-decoration: none;
    color:white;}
#pestanas ul{
    margin-left: -40px;
    text-align: center;

}
#pestanas li{
    list-style-type: none;
    width: 19%;
    height: 32px;
    float: left;
    text-align: center;
    background: #891947;
    margin: 0 2px 0 0;
    border-radius: 6px;
    border: 2px solid #ffffff;
    padding: 0 20px 0 20px;
}
#contenidopestanas{
    text-align: left;
    color: white;
    font-family: "HP Simplified Light",sans-serif;
    font-size: 16px;
    clear: both;
    width: 90%;
    margin-left: 4%;
    margin-top: 20px;
    padding: 15px ;
    border-radius: 10px;
}
.grafix{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-color: black;
    background-color: white;
    border-radius: 10px;
}

.comment {
    font-family: "HP Simplified Light",sans-serif;
    font-size: 19px;
    list-style: none;
}
.submit{
    background: transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
}
.math{
    list-style: none;
    margin: 0 0 10px 0;
}